* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
}

/* Utilities */
a {
    text-decoration: none;
    color: #fff;
}
.text-primary{
    color: #dd3c47;
}
.l-heading {
    font-size: 4rem;
}
.m-heading {
    font-size: 2rem;
}
.s-heading {
    font-size: 1.5rem;
}
.lead {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
}
.btn {
    color: #fff;
    padding: 0.5rem;
    border: 1px solid #dd3c47;
    border-radius: 4px;
    transition: all .4s
}
.btn:hover {
    /* background: #072038; */
    color: #dd3c47;
}
.bg-primary {
    background-color: #051525;
}
.container {
    margin: 0 auto;
    max-width: 1100px;
    /* padding: 1rem; */
    overflow: hidden;
}
.text-center {
    text-align: center;
}
.line-height {
    line-height: 1rem;
}

.p-xs {padding: 1rem;}
.p-1 {padding: 1.5rem;}
.p-2 {padding: 2rem;}
.p-3 {padding: 3rem;}

.py-xs {padding: .8rem 0;}
.py-1 {padding: 1.5rem 0;}
.py-2 {padding: 2rem 0;}
.py-3 {padding: 3rem 0;}

.px-1 {padding: 0 1.5rem;}
.px-2 {padding: 0 2rem;}
.px-3 {padding: 0 3rem;}

.category {
    display: inline-block;
    padding: 0.4rem 0.6rem;
    /* text-transform: uppercase; */
    border: none;
    border-radius: 15px;
    font-size: 10px;
    color: rgb(29, 28, 28);
    margin: 0.5rem 0;
    font-weight: 550;
}
.category-css { background: lightblue; }
.category-js { background: #f7e04b; }
.category-ts { background: #3178c6; }
.category-nest-js { background: #da354d; }
.category-vue-js { background: #53b985; }
.category-react-js { background: #61daf9; }
.category-mongodb { background: #4eab52; }
.category-pg { background: #31648c; }
.category-java { background: #2d768f; }
.category-firebase { background: #f5a841; }
.category-socket { background: #747371; }
.category-quasar { background: #3178c6; }
.category-elm { background: #5dafc6; }
.category-vegalite { background: #234dad; }
.category-ng { background: #d73231; }



/* Navbar */

#navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background: #051525;
    color: #fff;
}
#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}
#navbar ul li a {
    padding: 0 4rem;
    color: #fff;
    font-weight: bold;
    transition: all .4s
}
#navbar ul li a:hover {
    color: #dd3c47;
    /* text-decoration: underline; */
}

/* Showcase */

#showcase {
    background: url('../img/space-jelly.jpg');
    /* background-position: center center; */
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 60px);
    color: #fff;
}
#showcase .showcase-content {
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-left: 10rem;
    padding-bottom: 100px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    /* align-items: center; */
}

/* Section: About */

#about .container{
    display: flex;
    color: #fff;
}
#about .container .about-text,
#about .container .about-skills {
    flex: 1;
    /* border:1px solid #fff; */
}
#about .container .about-skills {
    text-align: center;
}
@media (max-width: 1150px){
    #about .container .about-text{
        margin-left: 5rem;
    }
}
.link {
    color: #fff;
    border-bottom: 3px solid #dd3c47;
    cursor: pointer;
    transition: all .5s;
}
.link:hover {
    border-bottom: none;
}

/* Projects section*/

#projects {
    color: #fff;
}
#projects .projects-container img {
    border-radius: 3px;
    width: 100%;
    transition: all .4s
}
#projects .projects-container img:hover {
    opacity: 0.6;
}
/* #projects .projects-container > *:last-child img:hover {
    opacity: 1;
} */
#projects .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}

#projects2 {
    color: #fff;
}
#projects2 .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}

.api-card {
    background-color: #06182b;
    border-radius: 5px;
    height: 200px;
    transition: all .4s;
    /* border: 1px dashed rgb(185, 185, 185); */
}

.api-card:hover {
    background-color: #212938;
    cursor: pointer;
}

#projects3 {
    color: #fff;
}
#projects3 .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding: 1rem;
}

.pwa-img1,
.pwa-img2 {
    height: 300px;
    padding: 1rem;
    border-radius: 5px;
}
.pwa-card {
    background-color: #06182b;
    padding: .8rem;
    border-radius: 8px;
    transition: all .4s;
}
.pwa-link {
    display: flex;
    justify-content: space-around;
}
.pwa-card2 {
    background-color: #06182b;
    border-radius: 8px;
    height: 340px;
    padding: 1rem;
}
.pwa-card2 ul {
    list-style-type: square;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: -20px;
}
.pwa-card2 ul li {
    margin-bottom: 1rem;
}
.pwa-card:hover {
    background-color: #212938;
    cursor: pointer;
}

/* Footer */

#main-footer {
    color: #fff;
}
#main-footer .container a {
    color: #fff;
    transition: all .4s
}
#main-footer .container a:hover {
    color: #dd3c47;
}